{% extends "base.html" %}
{% load static %}
{% block title %}Arch Linux - News: {% if form.instance.id %}Edit{% else %}Add{% endif %} Article{% endblock %}

{% block content %}
<div id="news-add-article" class="box">

    {% if form.instance.id %}
    <h2>نیوز: آرٹیکل ایڈٹ کریں۔</h2>
    {% else %}
    <h2>نیوز: آرٹیکل شامل کریں۔</h2>
    {% endif %}
    <p><bdi> arch-dev-public ہر خبر کی پوسٹ کو اس سے متعلقہ مسودہ </bdi><strong>جمع کرایا جانا</strong> ضروری ہے۔
اور کم از کم 24 گھنٹے کے لیے فیڈ بیک کا انتظار کریں۔ </p>
    <ul>
      <li>اگر بہت ضروری ہے۔<bdi>(اور 24 گھنٹے میں بہت دیر ہو جائیگی۔)</bdi> </li>
      <li>ٹیم ممبر کی طرف سے ڈرافٹ پوسٹ کرنے کی مضبوط وجوہات ہیں۔ یقینا یہ عوام کو نظر نہیں آنا چاہیے۔ جب تک کہ اعلان نہ کیا جائے۔
        دوسری صورت میں، مسودہ کو میلنگ لسٹ <bdi>staff@lists.archlinux.org</bdi> کو بھیجا جانا چاہیے۔</li>
        </li>
      </ul>
    <p>
        خبروں کے مضامین کو <a href="http://daringfireball.net/projects/markdown/syntax">مارک ڈاؤن</a> کا استعمال کرتے ہوئے فارمیٹ کیا جاتا ہے۔ براہ کرم خام ایچ ٹی ایم ایل پر اگر ممکن ہو تو اس نحو کا استعمال کریں
        ،  اگر مارک ڈاؤن آپ کے کام کی حمایت نہیں کرتا ہے۔ خام ایچ ٹی ایم ایل اس صورت میں استعمال کیا جا سکتا ہے
         پوسٹ کرنے سے پہلے، آپ کو اپنے کام کی جانچ کرنے کے لیے
        <strong>پیش نظارہ</strong>
           بٹن استعمال کرنے کی انتہائی حوصلہ افزائی کی جاتی ہے۔
         اسے استعمال کرنے کے لیے جاوا اسکرپٹ کا فعال ہونا ضروری ہے، لیکن یہ نیوز آئٹم کو بالکل ویسا ہی رینڈر کرے گا جیسا کہ یہ نیوز ویو پیج پر ظاہر ہوگا۔
    </p>
    <form id="newsform" method="post">{% csrf_token %}
        {% comment %} <fieldset>
            {{ form.as_p }}
        </fieldset> {% endcomment %}
        {{ form.non_field_errors }}
        <div class="fieldWrapper">
            {{ form.title.errors }}
            <label for="{{ form.title.id_for_label }}">ٹائیٹل</label>
            {{ form.title }}
        </div>
        <div class="fieldWrapper">
            {{ form.content.errors }}
            <label for="{{ form.content.id_for_label }}">مواد</label>
            {{ form.content }}
        </div>
        <div class="fieldWrapper">
            <label for="{{ form.send_announce.id_for_label }}">دوسروں کو متنبہ کریں۔</label>
            {{ form.send_announce }}
        </div>
        <p>
        <label></label>
        <input title="Save changes" type="submit" value="Save" />
        <input id="news-preview-button" title="Preview" type="button" value="Preview" />
        </p>
    </form>
</div>

<div id="news-preview" class="news-article box">
    <h2>News Preview: <span id="news-preview-title"></span></h2>
    <div id="news-preview-data" class="article-content"></div>
</div>
<script type="text/javascript" nonce={{ CSP_NONCE }} defer>
function onPreviewButtonClick(event) {
	event.preventDefault();

	const formData = new FormData();
	formData.append('data', document.querySelector('#id_content').value);
	formData.append('csrfmiddlewaretoken', document.querySelector('#newsform input[name=csrfmiddlewaretoken]').value);

	fetch('/news/preview/', {
		method: 'POST',
		body: formData,
	}).then(response => response.text())
	.then(data => {
		document.querySelector('#news-preview-data').innerHTML = data;
		document.querySelector('#news-preview').style.display = 'block';
		document.querySelector('#news-preview-title').innerHTML = document.querySelector('#id_title').value;
	}).catch(error => {
		console.error(error);
	});
}

const previewButton = document.getElementById('news-preview-button');
previewButton.addEventListener('click', onPreviewButtonClick);
</script>
{% endblock %}
