{% extends "base.html" %}

{% block title %}Arch Linux - News{% endblock %}

{% block head %}
<link rel="alternate" type="application/rss+xml" title="Arch Linux News Updates" href="/feeds/news/" />
{% endblock %}

{% block content %}
<div id="news-article-list" class="box">

    <h2>آرچ لینکس نیوز آرکاؤ</h2>

    {% if perms.news.add_news %}
    <ul class="admin-actions">
        <li><a href="/news/add/" titlDjango Admine="Add a news item">نیوز شامل کریں</a></li>
    </ul>
    {% endif %}

    {% include "news/paginator.html" %}

    <table id="article-list" class="results">
        <thead>
            <tr>
                <th>تاریخ</th>
                <th>ٹائیٹل</th>
                <th>لکھاری</th>
                {% if perms.news.change_news %}
                <th></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for item in news_list %}
            <tr>
                <td>{{ item.postdate|date:"Y-m-d" }}</td>
                <td class="wrap"><a href="{{ item.get_absolute_url }}"
                    title="View: {{ item.title }}">{{ item.title }}</a></td>
                <td>{{ item.author.get_full_name }}</td>
                    {% if perms.news.change_news %}
                <td>{{ item.postdate|date }}</td>
                <td>
                    <a href="{{ item.get_absolute_url }}edit/"
                        title="Edit: {{ item.title }}">مرتب کریں</a>
                    {% endif %}
                    {% if perms.news.delete_news %}
                    &nbsp;&nbsp;<a href="{{ item.get_absolute_url }}delete/"
                        title="Delete: {{ item.title }}">ڈیلیٹ</a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include "news/paginator.html" %}
</div>
{% endblock %}
