{% extends "base.html" %}
{% block title %}Arch Linux - About{% endblock %}
{% block content %}
<div class="box">
    <h2 class="title">آرچ لینکس کے بارے میں</h2>
  <p>آرچ لینکس ایک آزادانہ طور پر تیار شدہ، x86-64 عام مقصد کا GNU/Linux ڈسٹری بیوشن کسی بھی کردار کے لیے کافی ورسٹائل ہے۔ ترقی سادگی، منی میلزم، اور کوڈ کی خوبصورتی پر مرکوز ہے۔ آرچ کو ایک کم سے کم بیس سسٹم کے طور پر انسٹال کیا جاتا ہے، جسے صارف اپنے حسبِ ضرورت استعمال اور مثالی ماحول کے لیے ترتیب دیتا ہے جو ان کے منفرد مقاصد کے لیے درکار یا مطلوب ہوتا ہے۔ GUI کنفیگریشن یوٹیلیٹیز ابتدائِی اور باضابطہ طور پر فراہم نہیں کی جاتی ہیں، اور زیادہ تر سسٹم کنفیگریشن ٹرمینل سے سادہ ٹیکسٹ فائلوں میں ترمیم کرکے انجام دی جاتی ہے۔ آرچ ہمیشہ تیز ترین اور بہترین رہنے، اور عام طور پر زیادہ تر سافٹ ویئرز کے تازہ ترین، مستحکم ورژن پیش کرنے کی کوشش کرتا ہے۔
  </p>
  <p>آرچ لینکس اپنا Pacman پیکیج مینیجر استعمال کرتا ہے، جو سادہ اور بائنری پیکجوں کو استعمال میں لا کر آسان استعمال کے لیے سسٹم بنانے میں مدد کرتا ہے۔ جس سے صارفین کو باآسانی آرچ کے یا صارف کے اپنے ذاتی، فریقِ ثالث کے پیکجوں کو آسانی سے منظم اور اپنی مرضی کے مطابق استعمال کرنے کی مدد ملتی ہے۔ ریپوزٹری سسٹم، صارفین کو آسانی سے اور اپنی مرضی کے مطابق اسکرپٹس، پیکجز، اور ریپوزٹری بنانے اور برقرار رکھنے کی مدد کرتا ہے، جس سے کمیونٹی کی ترقی اور شراکت کی حوصلہ افزائی ہوتی ہے</p>
  <p>
    کم سے کم آرچ بیس پیکیج [کور] میں ہے۔ اس کے علاوہ، آفیشل [اضافی]، [کمیونٹی]، اور [ٹیسٹنگ] ریپوزٹریز آپ کے سافٹ ویئر کے مطالبات کو پورا کرنے کے لیے کئی ہزار اعلیٰ معیار کے پیکیج فراہم کرتی ہیں۔ آرچ لینکس یوزر ریپوزٹری (اے یو آر) بھی پیش کرتا ہے، جس میں 49,000 سے زیادہ بلڈ اسکرپٹس شامل ہیں، آرچ لینکس makepkg ایپلی کیشن کا استعمال کرتے ہوئے ماخذ یا سورس سے انسٹال کیے جانے کے قابل پیکیجز کو مرتب کرتا ہے۔
  آرچ لینکس ایک "رولنگ ریلیز" سسٹم ہے جو ایک بار انسٹال اور مستقل سافٹ ویئر اپ گریڈ کی اجازت دیتا ہے۔ اپنے آرچ لینکس سسٹم کو ایک "ورژن" سے دوسرے میں دوبارہ انسٹال یا اپ گریڈ کرنا عام طور پر ضروری نہیں ہے۔ ایک کمانڈ جاری کرنے سے، ایک آرچ سسٹم کو اپ ٹو ڈیٹ اور تازہ ترین رکھا جاسکتا ہے۔
  آرچ اپنے پیکجوں کو اصل اپ اسٹریم پیکجوں کے زیادہ سے زیادہ قریب رکھنے کی کوشش کرتا ہے، پیچ یا ٹکڈے جب ضروری ہو صرف اس وقت لاگو کیے جاتے ہیں، جب ایپلی کیشن آرچ سسٹم میں موجود دوسرے پیکجوں کے ساتھ صحیح طور تیار اور استعمال ہو سکے۔
  </p>
<p>
  خلاصہ کرنے کے لیے: آرچ لینکس ایک ورسٹائل، اور سادہ ڈسٹری بیوشن ہے جو Linux® صارف کی ضروریات کو پورا کرنے کے لیے ڈیزائن کیا گیا اور اُن کو پورا کرنے کے قابل ہے۔ یہ ایک طاقتور اور منظم کرنے میں آسان سسٹم ہے، اسی وجہ سے سرورز اور ورک سٹیشنز کے لیے ایک مثالی ڈسٹرو ہے۔ اسے آپ اپنی مرضی کے مطابق کسی بھی سمت لے جا سکتے ہیں۔ اگر آپ اس تصور کہ "GNU/Linux ڈسٹری بیوشن کیسی ہونی چاہیے" میں شراکت چاہتے ہیں، تو آپ کا خیرمقدم اور حوصلہ افزائی کی جائے گی کہ آپ اسے آزادانہ طور پر استعمال کریں، اس تصور میں شامل ہوں، اور کمیونٹی میں اپنا حصہ ڈالیں۔ آرچ میں خوش آمدید!
</p>

</div>
<br /><br />
{% endblock %}

