{% extends "base.html" %}
{% load cache %}
{% load static %}

{% block title %}Arch Linux - Donate{% endblock %}

{% block content %}
{% cache 600 donations %}
<div id="donations" class="box">

    <h2>آرچ لینکس کو عطیہ کریں</h2>

    <p>آرچ لینکس بہت سے لوگوں جو کہ کمیونٹی اور بنیادی ڈیولپمنٹ کے دائرہ میں شامل ہیں، کی انتھک کوششوں کی وجہ سے زندہ ہے۔
        ہم میں سے کسی کو بھی ہمارے کام کا معاوضہ نہیں دیا جاتا، اور سرور کے اخراجات کو برقرار رکھنے کے لیے ہمارے پاس ذاتی فنڈز نہیں ہیں۔
    </p>
    <p>آرچ لینکس کی مدد کرنے کے بہت سے طریقے ہیں۔ اگر تکنیکی ڈیولپمنٹ،،
        دستاویزات، یا سپورٹ آپ کو نہیں بھاتے، آپ یقینی طور پر کچھ پیسوں سے
           ہماری مدد کر سکتے ہیں۔
    </p>


    <p>بہت ذیادہ شکریہ</p>

    <h3>مالیاتی عطیات</h3>

    <p>مالیاتی عطیات کو بذریعہ
        <a href="https://co.clickandpledge.com/Default.aspx?WID=47294" title="آرچ لینکس کو عطیہ کریں بذریعہ Click&Pledge">Click&amp;Pledge</a>
        یا بذریعہ
        <a href="https://www.spi-inc.org/projects/archlinux/" title="آرچ لینکس کو عطیہ کریں بذریعہ ایس پی آئی">ایس پی آئی</a>
        اور پے پال یا کریڈٹ کارڈ کے ذریعے براہ راست قبول کیا جاتا ہے۔ آرچ لینکس
        <a href="https://www.spi-inc.org/">Software in the Public Interest, Inc.</a>
        کا رکن ہے جو کہ ایک غیر منافع بخش کارپوریشن ہے۔
    </p>
    <p>
        فنڈز کا استعمال ہوسٹنگ کے اخراجات، سرور ہارڈویَر
        کی جدت اور بہت کچھ کے لیے جاتا ہے۔ ایس پی آَئی کے بارے میں مذید معلومات کے لیے اور
        <a href="https://www.spi-inc.org/donations/">عطیات کیسے کام کرتے ہیں</a>
        کو دیکھیں۔
    </p>

    <a href="https://co.clickandpledge.com/Default.aspx?WID=47294">
        <img src="{% static "click_and_pledge.png" %}" alt="Donate via Click&amp;Pledge to Arch Linux" title="Donate via Click&amp;Pledge to Arch Linux"/>
    </a>

    <h3>کمرشل اسپانسرز اور تعاون</h3>
    <p>
        ہم
        <a href="https://icons8.com/" title="Icons8">Icons8</a>
        کا سالانہ مالیاتی عطیات کے لیے شکریہ ادا کرنا چاہتے ہیں۔ جو ایک نہایت ہنرمند ڈیزانرز اور انجینرز کی ایک ٹیم ہے جو اپکی آَئیکن کی ضرورت کو پورا کرتی ہے۔
    </p>

    <a href="https://icons8.com/" title="Icons8">
    <img src="{% static "icons8_logo.png" %}"
    class="sponsor-btn-icons8" title="" alt="Icons8 logo"/></a>

    <p>
        ہم
        <a href="https://nitrokey.com" title="Nitrokey">Nitrokey</a>
        کا بھی شکریہ ادا کرنا چاہیں گے۔
        ہمارے آرچ لینکس اسٹاف نائٹروکی ڈیوائسز کے لیے کرپٹوگرافک کیز کو اسٹور کرنے میں ہماری مدد کرنے کے لیے
        جو کہ ایس ایس ایچ کے اکاؤنٹس،
        گٹ کمٹ اور سافٹ ویئر پیکجز، GnuPG
        کے لیے استعمال ہوتی ہیں۔
    </p>

    <a href="https://nitrokey.com/" title="Nitrokey">
    <img src="{% static "nitrokey_logo.png" %}"
    class="sponsor-btn-nitrokey" title="" alt="Nitrokey logo"/></a>

    <p>
        ہم پوری دنیا میں وقف سرورز اور اسپانسرنگ کے لیے
        <a href="https://www.privateinternetaccess.com/" title="Private Internet Access">Private Internet Access</a>
        کابھی شکریہ ادا کرنا چاہیں گے۔ جو محفوظ، خفیہ کردہ وی پی این سرنگوں میں مہارت رکھتا ہے۔ جو پرائیویسی اور سیکیورٹی کی کئی پرتیں بناکر صارفین کو انٹرنیٹ تک رسائی تحفظ فراہم کرتی ہیں۔
        وی پی این سروس فراہم کنندہ اورسرفہرست ہے۔
    </p>

    <a href="https://www.privateinternetaccess.com/" title="Private Internet Access">
    <img src="{% static "pia_logo.png" %}"
    class="sponsor-btn-pia" title="" alt="Private Internet Access logo"/></a>

    <p>
        ہم
        ان کے مالی عطیہ کے لیے
        <a href="https://www.shells.com/" title="Shells">Shells.com</a>
        کابھی شکریہ ادا کرنا چاہیں گے۔ جو آپ کو 1-کلک، طاقتور اپنے براؤزر کو چھوڑے بغیر، ورچوئل ڈیسک ٹاپ ماحول فراہم کرتا ہے جو کلاؤڈ کمپیوٹر کے ذریعے چلایا جاتا ہے۔ یہ کلاؤڈ میں آپ کی ذاتی کام کی جگہ ہے۔
    </p>

    <a href="https://www.shells.com/" title="Shells">
    <img src="{% static "shells_logo.png" %}"
    title="" alt="Shells logo"/></a>
    <p>
        ہم
        ان کی مانیٹرنگ سروس فراہم کرنے کے لیے
        <a href="https://uptimerobot.com/" title="UptimeRobot">UptimeRobot</a>
        بھی شکریہ ادا کرنا چاہیں گے
        جو ایک سرکردہ اپ ٹائم مانیٹرنگ سروس ہے۔
    </p>

    <a href="https://uptimerobot.com/" title="UptimeRobot">
    <img src="{% static "uptimerobot_logo.png" %}"
    title="" alt="UptimeRobot logo"/></a>

    <h3>کزشتہ ڈونرز</h3>

    <p><a href="http://www.dotcom-monitor.com/" title="Dotcom-Monitor">Dotcom-Monitor</a> &amp; <a href="https://www.loadview-testing.com/" title="LoadView">LoadView</a></p>

    <div id="donor-list">
        <ul>
{% for donor in donors %}
<li>{{ donor.name }}</li>{% endfor %}
        </ul>
    </div>
    <div class="clear"></div>
    <p>آپ کے تعاون کے لیے آپ سب کا بہت بہت شکریہ!</p>
</div>
{% endcache %}
{% endblock %}
